button{
    cursor: pointer;
}
section p:first-child{
    font-family: 'Pattaya', sans-serif;
    font-size: 50px;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.author-name{
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}









#main-div-container {
    margin-left: 10px;
    margin-right: 10px;
    
}

#professional-title-box {

    background-image: url('assets/images/professional_title_image.png');

    background-size: 100% 100%;
    max-width: 100%;
    border-radius: 20px;
    height: 400px;
    display: flex;

    margin-top: 15px;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
}

#professional-title-box p {

    color: white;
    font-size: 60px;
    display: flex;
    font-size: 4vw;
    text-shadow: 1px 1px 2px #000;

}






#about-me-div {

    display: flex;

}

#about-me-div img {

    display: flex;
    width: 100%;
    height: 700px;

    border-radius: 20px;
}

#about-me-text {

    margin-left: 20px;

}


hr{
    border-top:  2px solid #bbb;
    border-radius: 5px;
}
#first-project-div {

    display: flex;

}

#first-project-div img {

    display: flex;
    width: 100%;
    height: 500px;
    size: cover;
    border-radius: 20px;
    margin-left: 50px;
}

#first-project-div button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
   
}



#second-project-div {

    display: flex;

}

#second-project-div img {
    display: flex;
    width: 100%;
    height: 500px;
    size: cover;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#second-project-div button {
    background-color: black;

    color: white;


    padding: 10px 20px;


    border: none;


    border-radius: 5px;
    margin-top: 20px;
}





#third-project-div {

    display: flex;

}

#third-project-div img {
    display: flex;
    width: 100%;
    height: 500px;
    size: cover;
    border-radius: 20px;

}

#third-project-div p {
    margin-right: 20px;

}



#third-project-div button {
    background-color: blue;

    color: white;


    padding: 10px 20px;


    border: none;


    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#featured-articles-div {
    display: flex;
    justify-content: space-between;
}

#featured-articles-div a {
    text-decoration: none;

}



#article-one {

    background-image: url('assets/images/clipboard.webp');


    border-radius: 20px;
    height: 400px;
    display: flex;
    align-items: center;


    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
    width: 300px;
}

#article-two {

    background-image: url('assets/images/exoplayer.webp');


    border-radius: 20px;
    height: 400px;
    display: flex;
    align-items: center;


    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
    width: 300px;
}




#article-three {

    background-image: url('assets/images/qr_code.webp');


    border-radius: 20px;
    height: 400px;
    display: flex;
    align-items: center;


    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
    width: 300px;
}


#article-three:hover {

    color: green;
}

#skills-div {

    display: flex;


}

#skill-img-one {
    background-image: url('assets/images/flutter.jpeg');

    background-color: gray;
    border-radius: 20px;
    height: 100px;
    color: gold;

    align-content: center;

    background-size: cover;

    background-repeat: no-repeat;
    width: 100px;
}

#skill-img-two {
    background-image: url('assets/images/dart.svg');

background-color: #0075C9;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
}

#skill-img-three {
    background-image: url('assets/images/javascript.svg');


    border-radius: 20px;
    height: 100px;



    background-size: cover;

    background-repeat: no-repeat;
    width: 100px;
}

#skill-img-four {
    background-image: url('assets/images/nodejs.png');


    border-radius: 20px;
    height: 100px;


    margin-left: 30px;
    margin-right: 30px;
    background-size: cover;

    background-repeat: no-repeat;
    width: 100px;
}

#skill-img-five {
    background-image: url('assets/images/git.png');


    border-radius: 20px;
    height: 100px;



    background-size: cover;

    background-repeat: no-repeat;
    width: 100px;
}

#skills-section div {
    text-align: center;
}

#contact-section{
    display: flex;
    justify-content: space-between;
}

#contact-section a{
text-decoration: none;
}



.contact-form-container {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.contact-form-container input {

    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    height: 200px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#contact-section img {

    border-radius: 50%;

    width: 50px;

    height: 50px;
}

form button {
    background-color: blue;

    color: white;


    padding: 10px 20px;


    border: none;


    border-radius: 5px;
    margin-top: 20px;
}

#cv-a{

    font-size: 25px;
    color: orange;


}

#cv-a:hover{

   color: green;

}

@media only screen and (max-width: 1000px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    #main-div-container {
        margin-left: 10px;
        margin-right: 10px;
       
    }

    #professional-title-box p {

        text-align: center;
        font-size: 30px;


    }

    #about-me-div {

        display: block;

    }



    #first-project-div {

        display: block;


    }



    #first-project-div img {


        width: 100%;


    }


    #second-project-div {

        display: block;

    }

    #second-project-div img {

        width: 100%;

    }

    #third-project-div {

        display: block;

    }

    #third-project-div img {

        width: 100%;

    }


    #featured-articles-div {
        display: block;
    }

    #featured-articles-div div {
        width: 100%;
        margin-top: 20ox;
        margin-bottom: 20px;
    }

    #skills-div {
        display: block;


    }

   
    #contact-section{
        display: block;
     
    }

    #contact-section img:nth-child(3) {

        background-size: auto;
    }

    textarea {

        width: 50%;

    }
   

}